<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/css/forms.css" />
  <link rel="stylesheet" href="/css/product.css" />
  <%- include('../includes/head.ejs') -%>
  <body>
    <%- include('../includes/navigation.ejs') -%>
    <main>Hello This is the Cart Page</main>
  </body>
</html>
